body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: "Microsoft YaHei"
}

.skin-1 .navbar {
	background-color: #2E4E73
}

.bootbox-close-button {
	font-size: 25px !important;
}

.callout.callout-normal a {
	color: #444
}

.callout.callout-normal a.btn {
	text-decoration: none;
}

.callout.callout-normal {
	border-color: #D2D6DE;
	background-color: #fff !important;
	border-right: 1px solid #D2D6DE;
	border-top: 1px solid #D2D6DE;
	border-bottom: 1px solid #D2D6DE;
}