<div class="row">
	<div class="col-xs-offset-4 col-xs-4 text-center">
		请输入实例地址：
		<div class="input-group margin">
			<input type="text" class="form-control" placeholder="格式:127.0.0.1:6379">
        	<span class="input-group-btn">
        		<a href="/" class="btn btn-primary btn-flat" type="button">Go!</a>
			</span>
        </div>
	</div>
</div>