<div class="row">
	<div class="col-xs-12"><h4><i class="fa fa-hand-o-right"></i> ${node}</h4></div>
</div>
<div class="box">
	<div class="box-header">
		<ul class="nav nav-tabs">
			<li><a href="/monitor/${node}"><i class="fa fa-area-chart text-green"></i> 监控</a></li>
			<li class="active"><a href="/config/${node}"><i class="fa fa-cogs text-blue"></i> 配置</a></li>
			<li><a href="/slowlog/${node}"><i class="fa fa-file-text text-red"></i> SlowLog</a></li>
		</ul>
    </div>
	<div class="box-body">
        <div class="row">
        	<div class="col-xs-12">
				<table class="table table-condensed table-hover table-striped">
					<tbody>
						#foreach($item in $configs.entrySet())
						<tr>
							<td>$!{item.key}</td>
							<td>$!{item.value}</td>
						</tr>
						#end
					</tbody>
				</table>
        	</div>
    	</div>
	</div>
</div>